<%= form_for @changeset, @action, fn f -> %>
	<div class = "form-group">
		<%= label f, :userid, class: "control-label" %>
		<%= text_input f, :userid, class: "form-control" %>
		<%= error_tag f, :userid %>
	</div>

	<div class = "form-group">
		<%= label f, :password, class: "control-label" %>
		<%= text_input f, :password, class: "form-control" %>
		<%= error_tag f, :password %>
	</div>

	<div class = "form-group">
		<%= submit "Submit", class: "btn btn-primary" %>		
	</div>
<% end %>